.home-container {
  padding: 2rem;
  text-align: center;
  background-color: #fffafc;
}


.home-texto {
  font-size: 1.2rem;
  color: #4d2c3d;
  max-width: 800px;
  margin: 0 auto 2rem;
  line-height: 1.6;
}

.home-imagens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3rem;
}

.home-imagens img {
  width: 300px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.home-jogo {
  background-color: #fff0f5;
  padding: 2rem;
  border-radius: 20px;
  margin-top: 2rem;
}


.jogo-descricao {
  font-size: 1rem;
  color: #6a1b45;
  margin-bottom: 1.5rem;
}