.sobre-nos {
  padding: 2rem;
  background-color: #fffdfd;
}

.titulo-sobre {
  text-align: center;
  color: #000000;
  margin-bottom: 3rem;
}

.texto-sobre {
  justify-content: center;
  font-size: 1.1rem;
  color: #000000;
  line-height: 1.6;
  margin-top: 2rem;
  padding: 0 1rem;
  text-align: center;
}

@media (max-width: 600px) {
  .sobre-nos {
    padding: 1.5rem 1rem;
  }

  .titulo-sobre {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .texto-sobre {
    font-size: 1rem;
    text-align: justify;
    padding: 0;
    margin-top: 1.5rem;
  }
}