.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000000;
  border-bottom: 2px solid #af0303;
}

.header-title {
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #af0303;
  margin: 0;
  text-align: center ;
  
}

.header-logo {
  height: 80px;
  width: auto;
  object-fit: contain;
}

@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.8rem 1rem;
  }

  .header-title {
    font-size: 2rem;
  }

  .header-logo {
    height: 60px;
  }
}