.slider-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: #fff8fa;
}

.slider-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.swiper-button-prev,
.swiper-button-next {
  color: #e91e63;
}